html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f0;
  color: #192d21;
  font-size: 2rem;
  font-family: 'ITC Caslon 224 Std', sans-serif;
}

.announcement-row {
  border-bottom: 1px solid rgba(25, 45, 33, 0.4);
}

.shopping-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visibility-hide {
  visibility: hidden;
}

.announcement-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  margin-top: 1rem;
}

.shipping-location {
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  margin-top: 1rem;
}

#shopping-btn {
  color: #192d21;
  background-color: #f4f7f0 !important;
  border-color: none !important;
  border-color: #f4f7f0;
  outline: 0;
  display: block;
}

/* .btn-primary {
  color: #192d21;
  background-color: #f4f7f0 !important;
  border-color: none !important;
} */

.navbar {
  margin: 0 4rem;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-logo {
  margin-right: 3rem;
}
.nav-logo img {
  max-width: 11rem;
}

.nav-link {
  color: #192d21;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  margin-right: 1.5rem;
}

.nav-link:hover {
  text-decoration: underline;
  color: #192d21;
}

.nav-icons-container {
  margin-left: 10rem;
}

.nav-bar-icons {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.nav-icons {
  margin: 0 1.5rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.hero-image {
  height: 82vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden {
  visibility: hidden;
}

.hero-col {
  color: #ffffff;
  margin-top: 6rem;
}

.hero-text {
  font-size: 3.8rem !important;
  font-weight: 500;
  line-height: 5.7rem;
  text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.hero-links {
  display: block;
  color: #ffffff;
  font-size: 3.2rem !important;
  font-weight: 500;
  line-height: 4.8rem;
  text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  text-transform: capitalize;
}

.hero-links:hover {
  color: #ffffff;
}

.product-row {
  margin-top: 12rem;
}

.category-col a {
  color: #192d21 !important;
}

.category-img {
  /* max-width: 37.5rem; */
  max-height: 50rem;
  padding: 1rem;
  cursor: pointer;
}

.category-text {
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: left;
  text-decoration: underline;
  margin-left: 2rem;
  cursor: pointer;
}

.category-text:hover {
  color: #000;
}

.featured-product-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.featured-product-title {
  text-align: center;
  margin-top: 7rem;
  font-weight: 500;
  line-height: 1.1;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.featured-product-image {
  max-width: 100%;
}

.featured-product-excerpt {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 4rem;
  padding: 0 8rem;
}

.featured-product-link {
  text-align: center;
  color: #192d21;
  font-size: 1.6rem;
  font-weight: 500;
}

.featured-product-link:hover {
  color: #000;
}

.favorite-product-row {
  margin-top: 2rem;
}

.favorite-col a {
  color: #192d21 !important;
}

.favorite-product-title {
  text-align: center;
  margin-top: 3rem;
  font-weight: 500;
  line-height: 1.1;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.favorite-links {
  text-decoration: none;
}

.favorite-img {
  max-height: 45rem;
  padding: 1rem;
  cursor: pointer;
}

.favorite-title {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}

.favorite-title:hover {
  color: black;
  text-decoration: underline;
}

.favorite-price {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  text-decoration: none !important;
}

.footer-main-text {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  line-height: 3.1rem;
  margin-top: 2.2rem;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
  border-top: 1px solid rgba(25, 45, 33, 0.4);
  background-color: #f4f7f1;
}

.footer-icon {
  max-width: 5.7rem;
  max-height: 3.9rem;
}

.links-container {
  max-height: 40rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.footer-links {
  color: #192d21 !important;
  text-decoration: none !important;
}

.footer-links > ul > li {
  padding: 1rem;
  list-style: none;
}

.subscription-privacy-text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.form-text {
  font-family: 'ITC Caslon 224 Std', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #192d21;
}
.input-form {
  background-color: #f9fbf8;
  outline: 0;
  border: 1px solid #192d21;
  font-size: 1.8rem;
  min-height: 5rem;
  padding: 0 1.1rem;
  border-radius: 0;
  width: 85%;
  color: #192d21;
}
.input-form:focus {
  box-shadow: inset 0 0 0 2px #356349;
}

.email-message {
  background-color: rgba(223, 236, 223);
}

.social-ul {
  padding-left: 0 !important;
  margin-top: 3rem;
}

.list-style {
  list-style: none;
  padding-right: 1rem;
}

.list-style a {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #192d21;
}

.button-footer {
  border: 1px solid #192d21;
  outline: 0;
  min-height: 5rem;
  padding: 0 1.1rem;
  width: 15%;
  background-color: #f4f7f0;
  transition-duration: 0.2s;
}

.button-footer:hover {
  background-color: #192d21;
  color: #f4f7f0;
}

.modal-text {
  font-family: 'ITC Caslon 224 Std', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #192d21;
}

.modal-privacy-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.modal-body {
  padding: 2rem !important;
}

.modal-content {
  background-color: #f4f7f0 !important;
  border: 2px solid #192d21 !important;
  border-radius: 0;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}

#contained-modal-title-vcenter {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.form-select {
  outline: 0;
  font-size: 1.5rem;
  border: 1px solid #192d21;
  font-size: 1.8rem;
  min-height: 5rem;
  padding: 0 1.1rem;
  color: #192d21;

  border-radius: 0;
}

.form-select:focus {
  box-shadow: inset 0 0 0 2px #356349;
  border-color: none !important;
  outline: 0 !important;
}

/* @media screen and (max-width: 2620px) {
  .category-img {
    max-height: 65rem;
  }
} */

@media screen and (min-width: 2023px) {
  .category-img {
    max-height: 65rem;
  }
}

@media screen and (min-width: 2023px) {
  .category-img {
    max-height: 65rem;
  }
}

@media screen and (max-width: 1639px) {
  .category-img {
    max-height: 40rem;
  }
  .favorite-img {
    max-width: 39rem;
  }

  .favorite-title {
    font-size: 1.6rem;
  }
  .favorite-price {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1588px) {
  .links-container {
    flex-direction: row-reverse;
    flex-wrap: none !important;
  }
  .newsletter-col {
    width: 100%;
    order: 1;
    padding: 0 10%;
  }
  .footer-links {
    order: 2;
  }
}

@media screen and (max-width: 1575px) {
  .favorite-img {
    max-width: 34rem;
  }
}

@media (min-width: 1250px) and (max-width: 1588px) {
  /*   I apply only to screens between 400px and 699px*/

  .footer-links-1 {
    width: 16.67%;
  }

  .footer-links-2 {
    width: 25%;
  }
  .newsletter-col {
    width: 33.3%;
    padding: 0%;
  }
}

@media screen and (max-width: 1374px) {
  .favorite-img {
    max-width: 35rem;
    max-height: 35rem;
  }
}

@media screen and (max-width: 1293px) {
  .category-img {
    max-height: 35rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav-large {
    display: none;
  }
  .nav-sm {
    display: block;
  }
  .navbar-nav {
    margin-top: 2rem;
  }
  .nav-link {
    padding-top: 1rem !important;
  }
}

@media screen and (min-width: 1199px) {
  .nav-sm {
    display: none;
  }
  .nav-large {
    display: block;
  }
  .footer-row {
    justify-content: end;
  }
}

@media screen and (max-width: 1100px) {
  .category-img {
    max-height: 30rem;
  }
}

@media screen and (max-width: 991px) {
  .category-img {
    max-height: 23rem;
  }
}

@media screen and (max-width: 991px) {
  .announcement-row {
    display: none;
  }
  .featured-product-image {
    max-width: 75%;
    margin: auto;
    display: block;
  }
  .footer-icon {
    display: none;
  }
  .footer-row > :first-child {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .category-img {
    max-height: 65rem;
  }
  .footer-main-text {
    font-weight: 400;
  }

  .favorite-img {
    max-width: 40rem;
    max-height: 58rem;
  }
}

@media screen and (max-width: 605px) {
  .nav-icons-container {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 576px) {
  .category-img {
    max-height: 55rem;
  }
  .hero-image {
    height: 70vh;
  }
  .featured-product-excerpt {
    padding: 0 3rem;
  }
  .footer-links {
    width: 50%;
  }
}

@media screen and (max-width: 494px) {
  .nav-bar-icons {
    max-width: 2rem;
    max-height: 2rem;
  }
  .nav-icons {
    margin: 0 0.75rem;
  }
  .nav-logo img {
    max-width: 8rem;
  }
  .navbar {
    margin: 0 !important;
  }
  .hero-text {
    font-size: 3.5rem !important;
  }
  .hero-links {
    font-size: 3rem !important;
  }
  .category-img {
    max-height: 45rem;
  }
  .button-footer {
    width: 25%;
  }
  .input-form {
    width: 75%;
  }

  .favorite-img {
    max-width: 37rem;
  }
}

.offcanvas-end {
  width: 100vw;
  border-left: 1px solid #192d21;
}
