html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f0;
  color: #192d21;
  font-size: 2rem;
}

.nav-link {
  color: #192d21;
}

.nav-link:hover {
  text-decoration: underline;
  color: #192d21;
}
